SECRET_KEY=Супер_пупер_серктный_пароль)
APP_EXTERNAL_PORT=8000

#Настройки PostgreSQL
DB_USER=postgresuser_example
DB_PASSWORD=postgrespassword_example
DB_NAME=pet_wishlist_db_example
DB_PORT=5433
DB_INSIDE_PORT=5432